$link-color: #FFC5A0;


footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 5rem;
  padding: 2rem;
  gap: 4rem;
  background: #000;
  color: #fff;

  & > * {
    flex-wrap: wrap;
  }

  img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    object-position: center;
  }

  ul {
    list-style: none;
    font-weight: 500;
    display: flex;
    place-self: center;
    align-items: center;
    gap: 1rem;

    a {
      text-decoration: none;
      color: #fff;
    }
  }

  .social--wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: clamp(1.5rem, 1.6vw + 5px, 1.75rem);

    &>* {
      transition: 0.3s linear;
      cursor: pointer;

      &:hover {
        transform: scale(1.16);
        color: $link-color;
      }
    }

  }

  .careers--wrapper {
    gap: 2rem;

    li {
      display: flex;
      align-items: flex-start;
      font-size: clamp(1.1rem, 1.4vw + 5px, 1.4rem);
      gap: 5px;
      transition: 0.3s linear;

      &:hover {
        color: $link-color;

        span {
          color: #fff;
        }
      }


      span {
        font-size: 1rem;
      }
    }
  }
  .cookies--wrapper {
    gap: 2rem;

    li {
      &:hover {
        color: $link-color;
      }
    }
  }


  .copyright  {
    font-size: clamp(0.9rem, 1.2vw + 5px, 1.1rem);
  }


  .scroll--btn {
    border: none;
    outline: none;
    padding: 10px 14px;
    font-size: 1rem;
    border-radius: 4px;
    background: none;
    color: #fff;
    border: 2px solid orange;
    transition: 0.3s linear;

    &:hover {
      color: orange;
    }
  }



  @media Screen and (min-width: 800px) {
    & {
      padding: 2rem 3rem;
    }
  }
}

@media (hover:hover) {
  li {
    cursor: pointer;
  }
}
