.story--section {
  .stories--wrapper {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    overflow-x: auto;
    padding: 1rem;
    scroll-behavior: smooth;
    width: 90%;
    margin: 0 auto;
    height: 100%;

    .story {
      @include flexBox(column, 1rem, start, flex-start);
      background: #000;
      border-radius: 5px;
      border: 2px solid #BCBCBC;
      height: 630px;
      width: 400px;

      img {
        height: 340px;
        object-fit: cover;
        border: 2px 2px 0 0;
      }

      p {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 1.5rem 1.5rem 0;

        .time {
          color: #555454;
        }
      }

      h2 {
        margin: 1rem 1.5rem 1.5rem;
        font-size: clamp(1.1rem, 1.5vw + 5px, 1.3rem);
      }
    }
  }
}


.stories--wrapper {
  &::-webkit-scrollbar {
    background: #000;
    height: 7px;
    border-radius: 15px;
  }
  &::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 8px;
  }
}
