@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Anton&family=Poppins:wght@400;500;600;700&display=swap');



// Variables
$background-color: #131319;
$font-Poppins: "Poppins", sans-serif;
$font-Anton: "Anton", sans-serif;
$font-Bebas-Neue: "Bebas Neue", sans-serif;
$logo-dimension: 42px;
$animation-time: 10s;

// imports
@import './mixin.scss';
@import './about.scss';
@import './online.scss';
@import './stories.scss';
@import './new.scss';
@import './footer.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  color: #fff;
  background: $background-color;
}


html {
  overflow-x: hidden;
  width: 100%;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  background: #0f121c;
  width: 8px;
}

html::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 8px;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 100%;
  font-family: $font-Poppins;
}

section {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  gap: 1rem;
}

.section {
  @include flexBox(column, 3rem, center, center);
  margin-top: 10rem;
  overflow: auto;
  padding: 3rem 0;

  h1 {
    @include fontClamp(2.5rem, 3vw, 10px, 4rem);
    @include fontBebas;
  }
}

.hero--section {
  background: url('/images/gta6-car.jpg') no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  transition: 0.3s ease-in-out;
  position: relative;

  @media Screen and (min-width: 750px) {
    & {
      background-position: 0vh;
      animation: backgroundMove linear infinite alternate-reverse;
      animation-duration: $animation-time;
    }

  }

  &>* {
    position: relative;
    z-index: 44;
  }

  &::after {
    position: absolute;
    content: '';
    top: 0;
    height: 100%;
    width: 100%;
    transform-origin: center;
    transition: 0.3s ease-in-out;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));
  }

}


@keyframes backgroundMove {
  0% {
    background-position: 0%;
  }

  40% {
    background-position: 3vw 2vh;
  }

  100% {
    background-position: -2vw -3vh;
  }
}

nav {
  padding: 1.5rem 2rem;
  position: relative;
  @include flexBox(row, 0, space-between, center);

  @media Screen and (max-width: 600px) {
    padding: 1rem;
  }

  .logo {
    width: $logo-dimension;
    height: $logo-dimension;
    object-fit: contain;

    @media Screen and (min-width: 800px) {
      $logo-dimension: 55px;

      & {
        width: $logo-dimension;
        height: $logo-dimension;
      }
    }
  }


  .links {
    list-style: none;
    @include flexBox(row, 1.5rem, center, center);

    .link {
      a {
        color: #fff;
        font-size: clamp(0.8rem, 2vw + 5px, 0.95rem);
        border: 1px solid #fff;
        padding: 5px 10px;
        text-decoration: none;
        transition: 0.3s linear;

        &:hover {
          color: #ccc;
          border-color: #ccc;
        }
      }
    }
  }
}


// Hero Wrapper
.hero--wrapper {
  margin: auto auto;
  width: clamp(300px, 90%, 800px);
  padding: 1rem;
  border-radius: 5px;
  position: relative;
  font-weight: 500;
  @include flexBox(column, 4rem, center, center);
  text-align: center;

  &>*:not(.trailer--btn) {
    text-shadow: 0 0 15px #000;
  }

  h1 {
    font-family: $font-Bebas-Neue;
    font-size: clamp(2.3rem, 4.5vw, 4rem);
    letter-spacing: 2px;
  }

  p {
    font-size: clamp(1rem, 1.8vw, 1.18rem);
    color: #fff;
    line-height: 1.4;
  }

  .trailer--btn {
    border: none;
    background: #fff;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: clamp(0.9rem, 1.8vw, 1.05rem);
    transition: 0.3s linear;

    &:hover {
      filter: brightness(0.7) contrast(0.8);
    }
  }
}



@media (hover:hover) {
  button {
    cursor: pointer;
  }
}
